@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif; 
    color: #212121;
}

h1 {
    font-family: Playfair Display SC, sans-serif; 
    font-weight: 70;
    color: #212121;
    text-transform: uppercase;
    letter-spacing: 5px;
}


/* header */

#logo {
    padding: 0px;
    height: 120px;
    width: 890px;
    float: left;
    position: fixed;
    top: 0;
    margin-left: 0.5%;
}

#header {
    padding : 0px;
    height: 120px;
    width: 100%;
    background-color:white;
    position: fixed;
    top: 0;
    z-index: 9999;
}

/* Nav links */

#menu {
    font-size: 115%;
    float: right;
}

#menu, #logo {
    line-height: 150px;
}

#menu li {
    display: inline;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    display: inline;
}

#menu a:hover {
    border-bottom: 1px solid #212121;
}

.active {
    border-bottom: 1px solid #212121; 
}

/* home page */

/* headline section */

#headline-area {
    width: 100%;
    height: 400px;
    background-color: #fcfafb;
}

#headline {
    padding: 250px;
    text-align: center;
    color: #212121;
    font-size: 25px;
    font-weight: bold;
}


/* hero image section */

#hero-image {
    padding: 0px;
    margin: 0;
    height: auto;
    width: 100%;
}

/* supporting image */

#supporting-image {
    padding: 0px;
    margin: 0;
    width: 100%;
    height: 400px;

    background-image: url(/assets/images/studio.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% 70%;
    overflow: hidden;
}

#button {
    border: none;
    background-color: rgba(252, 250, 251, 0.8);
    position: relative;
    top: 35%;
    left: 35%;
    width: 500px;
    height: 110px;

    text-align: center;
    font-size: 20px;
    color: black;
    letter-spacing: 6px;
}

/* The Studios page */

#jasmin {
    padding-top: 25%;
    margin: 0;
    width: 100%;
    height: 300px;

    background-image: url(/assets/images/jasmin-chew-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 55%;
    overflow: hidden;
}


#jasmin h1 {
    padding-right: 3%;
    text-align: right;
    float: right;
    color: #212121;
    font-size: 20px;
    font-weight: lighter;
    width: 40%;
    background-color: rgba(252, 250, 251, 0.5);

}

.float-left {
    height: 300px;
    width: 100%;
    margin-top: 0;
    margin-bottom: 1%;
    padding: 0;
}

.float-left h1 {
    float: left;
    text-align: left;
    padding-left: 3%;
    padding-top: 9%;
}

.float-right {
    text-align: right;
    float: right;
    font-size: 16px;
    letter-spacing: 2px;
    width: 55%;
    padding-right: 3%;
    padding-top: 40px;
    padding-bottom: 0;
    margin-top: 0;
}

hr {
    border-top: 1px solid #212121;
    padding: 0;
}

#color-block {
    width: 100%;
    height: 200px;
    background-color: #fcfafb;
}

/* The Details page */

#details-intro {
    padding-top: 25%;
    margin: 0;
    width: 100%;
    height: 250px;
    background-color: #fcfafb;
}

#details-intro h2 {
    float: center;
    text-align: center;
    font-size: 15px;
    letter-spacing: 2px;
}

/* image section */

.image-left {
    height: 400px;
    width: 70%;
    margin: 1% 4% 3% 2%;
    background-color: red;
}

.image-right {
    height: 400px;
    width: 70%;
    margin: 4% 25% 4%;
    background-color: red;
}

/* text sections */

/* consultation */

#text-right-consultation {
    height: 300px;
    width: 50%;
    background-color: rgba(252, 250, 251, 0.8);
    position: absolute;
    top: 680px;
    right: 60px;
}

#text-right-consultation h1 {
    padding: 2% 0% 2% 20%;
    text-align: right;
    float: right;
    font-size: 20px;
    letter-spacing: 2px;
}

#text-right-consultation p {
    text-align: right;
    float: right;
    font-size: 16px;
    letter-spacing: 2px;
}

/* follow up */ 

#text-left-follow {
    height: 300px;
    width: 50%;
    background-color: rgba(252, 250, 251, 0.8);
    position: absolute;
    top: 135%;
    left: 60px;
}

#text-left-follow h1 {
    padding: 2% 30% 2% 0%;
    text-align: left;
    float: left;
    font-size: 20px;
    letter-spacing: 2px;
}

#text-left-follow p {
    text-align: left;
    float: left;
    font-size: 16px;
    letter-spacing: 2px;
}

#text-left-follow .small-print {
    font-size: 12px;
    font-style: italic;
}

/* design review */

#text-right-design {
    height: 300px;
    width: 50%;
    background-color: rgba(252, 250, 251, 0.8);
    position: absolute;
    top: 195%;
    right: 60px;
}

#text-right-design h1 {
    padding: 2% 0% 2% 20%;
    text-align: right;
    float: right;
    font-size: 20px;
    letter-spacing: 2px;
}

#text-right-design p {
    text-align: right;
    float: right;
    font-size: 16px;
    letter-spacing: 2px;
}

/* fittings */

#text-left-fittings {
    height: 300px;
    width: 50%;
    background-color: rgba(252, 250, 251, 0.8);
    position: absolute;
    top: 250%;
    left: 60px;
}

#text-left-fittings h1 {
    padding: 2% 30% 2% 0%;
    text-align: left;
    float: left;
    font-size: 20px;
    letter-spacing: 2px;
}

#text-left-fittings p {
    text-align: left;
    float: left;
    font-size: 16px;
    letter-spacing: 2px;
}


/* final fittings */ 

#text-right-final {
    height: 300px;
    width: 50%;
    background-color: rgba(252, 250, 251, 0.8);
    position: absolute;
    top: 305%;
    right: 60px;
}

#text-right-final h1 {
    padding: 2% 0% 2% 20%;
    text-align: right;
    float: right;
    font-size: 20px;
    letter-spacing: 2px;
}

#text-right-final p {
    text-align: right;
    float: right;
    font-size: 16px;
    letter-spacing: 2px;
}

#text-right-final .small-print {
    font-size: 12px;
    font-style: italic;
}


/* footer */

footer {
    height: 120px;
    width: 100%;
}

#discover {
    text-align: center;
    font-size: 20px;
    float: center;
    margin-top: 1.5%;
    padding: 0.5%;
    letter-spacing: 2px;
    color: #7F7E80;
}

.social-links {
    text-align: center;
}

.social-links > li {
    display: inline;
    float: center;
}

.social-links i {
    font-size: 140%;
    color: #212121;
    padding: 1%;
}

.social-links i:hover {
    color: #DDDCDE;
}

p {
    text-align: center;
    float: center;
    margin-top: 0.5%;
    font-size: 10px;
    padding-bottom: 1%;
}