@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display+SC&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif; 
    color: #212121;
}

h1 {
    font-family: Playfair Display SC, sans-serif; 
    font-weight: 70;
    color: #212121;
    text-transform: uppercase;
    letter-spacing: 5px;
}


/* header */

#logo {
    padding: 0px;
    height: 120px;
    width: 890px;
    float: left;
    position: fixed;
    top: 0;
    margin-left: 0.5%;
}

#header {
    padding : 0px;
    height: 120px;
    width: 100%;
    background-color:white;
    position: fixed;
    top: 0;
    z-index: 9999;
}

/* Nav links */

#menu, #logo {
    line-height: 150px;
}

#menu {
    font-size: 115%;
    display: inline-block;
    clear: both;
    margin-left: 62%;
}

#menu li {
    display: inline;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
    display: inline;
}

#menu a:hover {
    border-bottom: 1px solid #212121;
}

.active {
    border-bottom: 1px solid #212121; 
}

/* brides drop down menu - to revisit 

.dropdown {
    font-size: 115%;
    clear: both;
    display: inline-block;
}

#brides {
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}

.dropdown-list {
    position: absolute;
}

.dropdown a {
    text-decoration: none;
    color: inherit;
    display: block;
}
*/

/* contact button - to revisit 

#contact-button {
    font-size: 115%;
    clear: both;
    background-color: white;
    display: inline-block;
}

#contact-button a {
    text-decoration: none;
    color: inherit;
    display: inline;
}

#contact-button a:hover {
    border-bottom: 1px solid #212121;
}
*/

/* home page */

/* headline section */

#headline-area {
    width: 100%;
    height: 400px;
    background-color: #fcfafb;
}

#headline {
    padding: 250px;
    text-align: center;
    color: #212121;
    font-size: 20px;
    font-weight: bold;
}


/* hero image section */

#hero-image {
    padding: 0px;
    margin: 0;
    height: auto;
    width: 100%;
}

/* supporting image */

#supporting-image {
    padding: 0px;
    margin: 0;
    width: 100%;
    height: 400px;

    background-image: url(/assets/images/studio2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% 70%;
    overflow: hidden;
}

#button {
    border: none;
    background-color: rgba(252, 250, 251, 0.8);
    position: relative;
    top: 35%;
    left: 35%;
    width: 500px;
    height: 110px;

    text-align: center;
    font-size: 20px;
    color: black;
    letter-spacing: 6px;
}

#button a {
    text-decoration: none;
}

#button h1:hover {
    border-bottom: 1px solid #212121;
}

/* The Studios page */

#jasmin {
    padding-top: 25%;
    margin: 0;
    width: 100%;
    height: 300px;

    background-image: url(/assets/images/jasmin-chew-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 55%;
    overflow: hidden;
}


#jasmin h1 {
    padding-right: 3%;
    text-align: right;
    float: right;
    color: #212121;
    font-size: 20px;
    font-weight: lighter;
    width: 40%;
    background-color: rgba(252, 250, 251, 0.5);

}

.float-left {
    height: 300px;
    width: 100%;
    margin-top: 0;
    margin-bottom: 1%;
    padding: 0;
}

.float-left h1 {
    float: left;
    text-align: left;
    padding-left: 3%;
    padding-top: 9%;
}

.float-right {
    text-align: right;
    float: right;
    font-size: 16px;
    letter-spacing: 2px;
    width: 55%;
    padding-right: 3%;
    padding-top: 40px;
    padding-bottom: 0;
    margin-top: 0;
}

hr {
    border-top: 1px solid #212121;
    padding: 0;
}

/* NOTE-TO-SELF: will add copy into comlumns to make it neater ;

#column-right {
    float: right;
    width: 50%;
    background-color: red;
}
*/

/* NOTE-TO-SELF; need to decided what colour or image to add in below block */

#color-block {
    width: 100%;
    height: 100px;
    background-color: red;
}

/* The Details page */

#details-intro {
    padding-top: 20%;
    margin: 0;
    width: 100%;
    height: 250px;
    background-color: #fcfafb;
}

#details-intro h2 {
    float: center;
    text-align: center;
    font-size: 15px;
    letter-spacing: 2px;
}

/* image section left*/

#consulation-image  /* left */ {
    height: 400px;
    width: 60%;
    margin: 1% 4% 10% 8%;

    background-image: url('/assets/images/studio2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 70%;
    overflow: hidden;
    opacity: 0.8;
}

#designr-image /* left */ {
    height: 400px;
    width: 60%;
    margin: 1% 4% 10% 8%;

    background-image: url('/assets/images/katy-duclos-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 60% 70%;
    overflow: hidden;
    opacity: 0.8;
}

#final-fitting-image /* left */ {
    height: 400px;
    width: 60%;
    margin: 1% 4% 10% 8%;

    background-image: url('/assets/images/duo-chen-s-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% 40%;
    overflow: hidden;
    opacity: 0.8;
}

/* image section right*/

#follow-image /* right */ {
    height: 400px;
    width: 60%;
    margin: 4% 4% 10% 30%;

    background-image: url('/assets/images/jasmin-chew2-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 80%;
    overflow: hidden;
    opacity: 0.8;
}

#fitting-image /*right*/ {
    height: 400px;
    width: 60%;
    margin: 4% 4% 10% 30%;

    background-image: url('/assets/images/weddingdress-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 55%;
    overflow: hidden;
    opacity: 0.8;
}


/* text sections */

/* consultation */

#text-right-consultation {
    height: 300px;
    width: 50%;
    background-color: rgba(252, 250, 251, 0.8);
    position: absolute;
    top: 75%;
    right: 15%;
}

#text-right-consultation h1 {
    padding: 2% 20% 2% 1%;
    text-align: left;
    float: left;
    font-size: 20px;
    letter-spacing: 2px;
}

#text-right-consultation p {
    text-align: left;
    float: left;
    font-size: 16px;
    letter-spacing: 2px;
    padding-left: 1%;
}

/* follow up */ 

#text-left-follow {
    height: 300px;
    width: 50%;
    background-color: rgba(252, 250, 251, 0.8);
    position: absolute;
    top: 140%;
    left: 6%;
}

#text-left-follow h1 {
    padding: 2% 30% 2% 1%;
    text-align: left;
    float: left;
    font-size: 20px;
    letter-spacing: 2px;
}

#text-left-follow p {
    text-align: left;
    float: left;
    font-size: 16px;
    letter-spacing: 2px;
    padding-left: 1%;
}

#text-left-follow .small-print {
    font-size: 12px;
    font-style: italic;
}

/* design review */

#text-right-design {
    height: 300px;
    width: 50%;
    background-color: rgba(252, 250, 251, 0.8);
    position: absolute;
    top: 210%;
    right: 12%;
}

#text-right-design h1 {
    padding: 1% 20% 4% 1%;
    text-align: left;
    float: left;
    font-size: 20px;
    letter-spacing: 2px;
}

#text-right-design p {
    text-align: left;
    float: left;
    font-size: 16px;
    letter-spacing: 2px;
    padding-left: 1%;
}

/* fittings */

#text-left-fittings {
    height: 300px;
    width: 50%;
    background-color: rgba(252, 250, 251, 0.8);
    position: absolute;
    top: 275%;
    left: 8%;
}

#text-left-fittings h1 {
    padding: 2% 30% 2% 1%;
    text-align: left;
    float: left;
    font-size: 20px;
    letter-spacing: 2px;
}

#text-left-fittings p {
    text-align: left;
    float: left;
    font-size: 16px;
    letter-spacing: 2px;
    padding-left: 1%;
}


/* final fittings */ 

#text-right-final {
    height: 300px;
    width: 50%;
    background-color: rgba(252, 250, 251, 0.8);
    position: absolute;
    top: 340%;
    right: 8%;
}

#text-right-final h1 {
    padding: 2% 20% 2% 1%;
    text-align: left;
    float: left;
    font-size: 20px;
    letter-spacing: 2px;
}

#text-right-final p {
    text-align: left;
    float: left;
    font-size: 16px;
    letter-spacing: 2px;
    padding-left: 1%;
}

#text-right-final .small-print {
    font-size: 12px;
    font-style: italic;
    padding-left: 1%;
}

/* Brides page */

#block {
    width: 100%;
    height: 400px;
    background-color: red;
}

#block h1 {
    padding: 250px;
    text-align: center;
    color: #212121;
    font-size: 20px;
    font-weight: bold;

}

/* Contact page */

#block2 {
    width: 100%;
    height: 400px;
    background-color: red;
}

#block2 h1 {
    padding: 250px;
    text-align: center;
    color: #212121;
    font-size: 20px;
    font-weight: bold;
}

#contact-text {
    width: 40%;
    height: auto;
    background-color: blue;
}

#contact-text h3 {
    font-size: 15px;
    padding: 3% 3% 5% 3%;
}

.contact-details {
    width: 40%;
    height: auto;
    background-color: pink;
}

.contact-details h1 {
    color: #212121;
    font-size: 15px;
    font-weight: bold;
    padding-left: 3%;
    padding-bottom: 5%;
    text-align: left;
}

.contact-details p {
    color: #212121;
    font-size: 16px;
    letter-spacing: 2px;
    padding-left: 3%;
    text-align: left;
    padding-bottom: 5%;
}

/* footer */

footer {
    height: 120px;
    width: 100%;
}

#discover {
    text-align: center;
    font-size: 20px;
    float: center;
    margin-top: 1.5%;
    padding: 0.5%;
    letter-spacing: 2px;
    color: #7F7E80;
}

.social-links {
    text-align: center;
}

.social-links > li {
    display: inline;
    float: center;
}

.social-links i {
    font-size: 140%;
    color: #212121;
    padding: 1%;
}

.social-links i:hover {
    color: #DDDCDE;
}

p {
    text-align: center;
    float: center;
    margin-top: 0.5%;
    font-size: 10px;
    padding-bottom: 1%;
}