@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Montserrat, sans-serif; 
    font-weight: 200;
    color: #212121;
}

h1, h2 {
    font-family: Montserrat, sans-serif; 
    font-weight: 200;
    color: #212121;
}

/* header */

#logo {
    padding: 0px;
    height: 120px;
    width: 900px;
    float: left;
    position: fixed;
    top: 0;
}

#header {
    padding : 0px;
    height: 120px;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
}

/* Nav links */

#menu {
    font-size: 115%;
}

#menu, #logo {
    line-height: 150px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #212121;
}

.active {
    border-bottom: 1px solid #212121; 
}

/* headline section */

#headline-area {
    width: 100%;
    height: 400px;
    background-color: white;
}

/* hero image section */

#hero-image {
    padding: 0px;
    height: auto;
    width: 100%;
}